# Core dependencies
pandas
scikit-learn
xgboost
joblib
shap
wordcloud

# Dashboard requirements
dash
dash-bootstrap-components
plotly

# For optional HTML parsing (in dashboard)
beautifulsoup4
requests
requests-html